body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    max-width: 100vh;
    max-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-image: linear-gradient(to top, #2F1134, #631E6F);
    height: 650px;
    width: 600px;
    display: flex;
    padding: 20px;
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white;
}

.card h1 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;  
}


p {
    text-align: center;
}

.card-01 {
    background-image: linear-gradient(to top, #5D1D68, #1F0D22);
    height: 420px;
    width: 580px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    padding: 10px;
}

.card-01 p {
    text-align: center;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 110px;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
}

.card-games {
    display: inline-block;
    flex-direction: column;
    background-image: linear-gradient(to top, #3E60EF, #63ABFA);
    width: 150px;
    height: 220px;
    border: 10px solid #2738DA;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 15px;
}

.card-games img {
    align-items: center;
    margin-left: 25px;
}

.card-games button {
    height: 40px;
    width: 80px;
    background-color: #1D0C20;
    border: 2px solid #1D0C20;
    border-radius: 5px;
    color: white;
    margin-left: 35px;
    margin-top: 10px;
}

button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: #b056e4; 
    color: white;
  }

.card-games h2 {
    text-align: center;
    font-size: 20px;
}

.card h3 {
    font-size: 10px;
    text-align: center;
    font-weight: lighter;
}


@media (max-width: 600px) {
    .card-01 {
        margin-left: -20px;
        width: 180%;
        height: 10%;
    }

    .card-01 p {
        margin-left: -200px;
    }

    .form {
        width: 80%;
        margin-left: 30px;
    }

    .card {
        margin-left: 35px;
        flex-direction: row;
        width: 50%;
        height: 100%;
        
    }

    .card h1, p {
        margin-left: -30px;
        font-size: 12px;
        width: 200%;
    }
        
    .container {
        width: 90%;
        height: 120%;
        margin-top: 200px;
    }

    .card-games {
        margin-left: 60px;
    }

    .card h3 {
        margin-top: 820px;
        margin-left: 120px;
    }
    
}

