@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to top, #2F1134, #631E6F);
    color: white;
    text-align: center;
    padding: 1%;
    border-radius: 2%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
}

.card-info h1 {
    font-weight: bolder;
    text-transform: uppercase;
    color: yellow;
}

.card-dados {
    width: 98%;
    height: 80%;
    padding: 1%;
    border-radius: 2%;
    background-image: linear-gradient(to top, #5D1D68, #1F0D22);
}

.card-dados h2 {
    font-size: 20px;
}
 
.field {
    width: 70%;
    padding: 1%;
    margin-bottom: 3%;
}

.card-games {
    width: 25%;
    height: 70%;
    background-image: linear-gradient(to top, #3E60EF, #63ABFA);
    display: inline-block;
    border: 0.5em solid #2738DA;
    border-radius: 2%;
    margin-bottom: 5%;
    margin-left: 2%;
}

.card-games img {
    width: 80%;
    height: 80%;
}

.card-games button {
    width: 60%;
    height: 30%;
    margin: 8%;
    padding: 8%;
    border-radius: 2%;
    background-color: #1D0C20;
    border: none;
    color: white;
}

.card-games h3 {
    font-size: 100%;
}

button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: #b056e4; 
    color: white;
}

.card-info h4 {
    font-size: 10px;
    margin-top: 2%;
}

@media (max-width: 600px) {
    .card-games {
        display: flex;
        width: 65%;
        height: 200px;
        margin-left: 15%;
        margin-top: 5%;
    }

    .card-games h3 {
        margin-left: 25%;
    }

    .card-games img {
        margin-top: 30%;
        margin-left: -50%;
        width: 60%;
        height: 50%;
    }

    .card-games button {
        margin-top: 100%;
        width: 45%;
        height: 20%;
        margin-left: -53%;
    }
    
    .card-games .img1 {
        margin-top: 30%;
        margin-left: -55%;
        width: 50%;
        height: 50%;
    }

    .card-games .button1 {
        margin-top: 100%;
        width: 45%;
        height: 20%;
        margin-left: -47%;
    }  
}   